.promo{
  min-height: 100vh;
  position: relative;
  background: url("../img/Background.jpg") no-repeat 50%/cover;
  padding-top: 205px;
  &__title{
    width: 440px;
    margin-top: 10px;
  }
  &__subtitle{
    position: relative;
    @include before_circle;
    padding-left: 10px;
    z-index: 2;
  }
  &__btns{
    margin-top: 25px;
    display: flex;
    align-items: center;justify-content: space-between;
    width: 250px;
  }
  &_link{
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    &:hover{
      color:#000000;
      text-decoration: none;
    }
  }
}
